<div role="main" class="hero">

  <div class="container" style="background-color: rgba(255, 255, 255, 0.822);   border-radius: 5px; ">
  {% block promoted %}
    {% snippet 'home/snippets/promoted.html' %}
  {% endblock %}
  </div>
  <br><br><br>
  <div class="container" style="background-color: rgba(255, 255, 255, 0.822); border-radius: 5px;">
  {% block search %}
    {% snippet 'home/snippets/search.html' %}
  {% endblock %}
  </div>
  <div style="padding-top: 18%;"></div>
</div>
