{% ckan_extends %}
{% set pkg = c.pkg_dict %}

{% block organization_facets %}
  {% snippet 'snippets/dataset_facets.html', extras={'id':c.group_dict.name} %}
{% endblock %}

{% block primary_content_inner %}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private badge badge-inverse pull-right">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
    {% block package_archive_notice %}
      {% if is_activity_archive %}
        <div class="alert alert-danger">
          {% trans url=h.url_for(pkg.type ~ '.read', id=pkg.id) %}
          You're currently viewing an old version of this dataset.
          Data files may not match the old version of the metadata.
          <a href="{{ url }}">View the current version</a>.
          {% endtrans %}
        </div>
      {% endif %}
    {% endblock %}
    <h1>
      {% block page_heading %}
        {{ h.dataset_display_name(pkg) }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      {% endblock %}
    </h1>
      {% if pkg.notes %}
        {% resource 'wwo/wwo_fitness_popup.js' %}
        {% resource 'wwo/wwo_fitness_popup.css' %}

        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'notes'), allow_html=True) }}
        </div>
      {% endif %}
  {% endblock %}

  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources, is_activity_archive=is_activity_archive %}
  {% endblock %}

  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}

{% endblock %}
