{% ckan_extends %}

{% block package_search_results_api %}
{% endblock %}

{% block secondary_content %}

<div class="filters">
  <div>
    {% snippet 'snippets/dataset_facets.html' %}
  </div>
  <a class="close no-text hide-filters"><i class="icon-remove-sign"></i><span class="text">close</span></a>
</div>
{% endblock %}
