{% ckan_extends %}

{% block facet_list %}

{% resource 'wwo/wwo-collapsible.js' %}

  {% set hide_empty = hide_empty or false %}
  {% with items = items or h.get_facet_items_dict(name) %}
    {% if items or not hide_empty %}
      {% if within_tertiary %}
        {% set nav_class = 'nav nav-pills nav-stacked' %}
        {% set nav_item_class = ' ' %}
        {% set wrapper_class = 'nav-facet nav-facet-tertiary' %}
      {% endif %}
      {% block facet_list_item %}

        <section class="{{ wrapper_class or 'module module-narrow module-shallow' }}">
          {% block facet_list_heading %}

            {% with items = items or h.get_facet_items_dict(name) %}
            {% if items %}
              {# Special Code to set variables during iteration.#}
              {# Note, in jinja 2.10 can use the namespace method but not available in ckan 2.8#}
              {% set vars = {'is_open': False} %}

              {% if name == 'landuse' or name == 'res_format' %}
                {% set vars = {'is_open': False} %}
              {% else %}
                {% set vars = {'is_open': True} %}
              {% endif %}

              {% for item in items %}
                {% if item.active %}
                  {% if vars.update({'is_open':True}) %}{% endif %}
                {% endif %}
              {% endfor %}

              {% if vars.is_open %}
                {% set button_class='module-heading  collapsible  accordion  is-open' %}
              {% else %}
                {% set button_class='module-heading  collapsible  accordion' %}
              {% endif %}

              <button data-module="wwo-collapsible" class="{{ button_class }}" >
            {% else %}
              <button data-module="wwo-collapsible" class="module-heading collapsible accordion" >
            {% endif %}
            {% endwith %}

              <i class="fa fa-filter"></i>
              {% set title = title or h.get_facet_title(name) %}
              {{ title }}
            </button>
          {% endblock %}
          {% block facet_list_items %}
            {% with items = items or h.get_facet_items_dict(name) %}
            {% if items %}

              {# Special Code to set variables during iteration.#}
              {# Note, in jinja 2.10 can use the namespace method but not available in ckan 2.8#}
              {% if name == 'landuse' or name == 'res_format' %}
                {% set vars = {'is_open': False} %}
              {% else %}
                {% set vars = {'is_open': True} %}
              {% endif %}
              {% for item in items %}
                {% if item.active %}
                  {% if vars.update({'is_open':True}) %}{% endif %}
                {% endif %}
              {% endfor %}

              {% if vars.is_open %}
                {% set collapsible_block='style=display:block;' %}
              {% else %}
                {% set collapsible_block='style=display:none;' %}
              {% endif %}

              <nav class="collapsible_content" {{ collapsible_block }} >
                <!--
                {% if name != 'res_format' %}
                <p>Please see <a href="/{{ name }}" target="_blank" rel="noopener noreferrer">disclaimer</a> for more information</p>
                {% endif %}
                -->
                <ul class="{{ nav_class or 'list-unstyled nav nav-simple nav-facet' }}">
                  {% for item in items|sort(attribute='name') %}
                    {% if item.name != 'other' %}
                      {% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if item.active else h.add_url_param(new_params={name: item.name}, extras=extras, alternative_url=alternative_url) %}
                      {% set label = h.scheming_choices_label(scheming_choices, item.name) %}
                      {% set count = count_label(item['count']) if count_label else ('%d' % item['count']) %}

                        <li class="{{ nav_item_class or 'nav-item' }}{% if item.active %} active{% endif %}">
                          <a href="{{ href }}" title="{{ label if label != label_truncated else '' }}">
                            <span class="item-label">{{ label }}</span>
                            <span class="hidden separator"> - </span>
                            <span class="item-count badge">{{ count }}</span>
                          </a>
                        </li>
                    {% endif %}
                  {% endfor %}
                  {% for item in items|sort(attribute='name') %}
                    {% if item.name == 'other' %}
                      {% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if item.active else h.add_url_param(new_params={name: item.name}, extras=extras, alternative_url=alternative_url) %}
                      {% set label = h.scheming_choices_label(scheming_choices, item.name) %}
                      {% set count = count_label(item['count']) if count_label else ('%d' % item['count']) %}

                        <li class="{{ nav_item_class or 'nav-item' }}{% if item.active %} active{% endif %}">
                          <a href="{{ href }}" title="{{ label if label != label_truncated else '' }}">
                            <span class="item-label">{{ label }}</span>
                            <span class="hidden separator"> - </span>
                            <span class="item-count badge">{{ count }}</span>
                          </a>
                        </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </nav>

              <p class="module-footer">
                {% if h.get_param_int('_%s_limit' % name) %}
                  {% if h.has_more_facets(name) %}
                    <a href="{{ h.remove_url_param('_%s_limit' % name, replace=0, extras=extras, alternative_url=alternative_url) }}" class="read-more">{{ _('Show More {facet_type}').format(facet_type=title) }}</a>
                  {% endif %}
                {% else %}
                  <a href="{{ h.remove_url_param('_%s_limit' % name, extras=extras, alternative_url=alternative_url) }}" class="read-more">{{ _('Show Only Popular {facet_type}').format(facet_type=title) }}</a>
                {% endif %}
              </p>
            {% else %}
              <p class="module-content empty collapsible_content">{{ _('There are no {facet_type} that match this search').format(facet_type=title) }}</p>
              <p class="module-footer">
            {% endif %}
            {% endwith %}
          {% endblock %}
        </section>
      {% endblock %}
    {% endif %}
  {% endwith %}
{% endblock %}