<div class="context-info">
    <p>Kia ora,</p>
    To use this website you must accept the <a href="/terms_of_use" target="_blank" rel="noopener noreferrer">terms of use</a> and consent to the <a href="/privacy" target="_blank" rel="noopener noreferrer">Privacy statement</a>.

    <h3>Terms of Use</h3>
    The Terms of Use for this website are <a href="/terms_of_use" target="_blank" rel="noopener noreferrer">provided here</a>.

    <h3>Privacy Statement</h3>
    <p>The Privacy Statement relating to this website is <a href="/privacy" target="_blank" rel="noopener noreferrer">available here</a>.</p>

    <div>
      <input type="checkbox" id="terms_of_use" name="terms_of_use" >
      <label for="terms_of_use">I have read and accept this website's <a href="/terms_of_use" target="_blank" rel="noopener noreferrer">Terms of Use</a>.</label>
    </div>

    <div>
      <input type="checkbox" id="privacy" name="privacy">
      <label for="privacy">I have read and concent this website's <a href="/privacy" target="_blank" rel="noopener noreferrer">Privacy statement</a>.</label>
    </div><br>

    <input type="button" class="privacy_button" id="privacyCancelButton" style="color:red;" value="Cancel"</input>
    <input type="button" class="privacy_button" id="privacyOkButton" disabled style="color:darkgray;" value="Continue"</input>

</div>