{% ckan_extends %}

{% block primary_content_inner %}
    {{ super() }}
    <!--<p>NOTE: Landcare Research Staff do not need to register - you can {% link_for 'login here', controller='ckanext.ldap.controllers.user:UserController', action='login' %} using your network username and password.</p>-->
    <p>NOTE: Landcare Research Staff do not need to register - you can <a href='login'>login here</a> using your network username and password.</p>

{% endblock %}

{% block secondary_content %}
  {{ super() }}
  <section class="module module-narrow module-shallow">
    <h2 class="module-heading">{{ _('Terms of Use') }}</h2>
    <div class="module-content">
      <p>By using the DataStore (whether a registered user or not), you agree to these {% link_for 'terms of use', controller='ckanext.wwo.controllers.terms:TermsController', action='terms_of_use' %}</p>
    </div>
  </section>
{% endblock %}
