{% ckan_extends %}

    {% block footer_content %}
    <div class="row">
      <div class="col-md-6 footer-links">
        {% block footer_nav %}
          <ul class="list-unstyled">
            {% block footer_links %}
              <li><a href="{{ h.url_for(controller='home', action='about') }}"><u>About Land Use Opportunities</u></a></li>
              <li><p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org"><u>CKAN</u></a>{% endtrans %}</p></li>
              <li><p id="version">0.0.0</p></li>
            {% endblock %}
          </ul>
        {% endblock %}
      </div>
      <div class="col-md-6 attribution">
        {% block footer_attribution %}
          <p style="text-align: right;"> Unless indicated otherwise, <br>all content on <a href="https://wwo.landcareresearch.co.nz"><u>wwo.landcareresearch.co.nz</u></a><br>is licensed for re-use under <a href="https://creativecommons.org/licenses/by/4.0" target="_blank"><u>CC BY 4.0</u></a>.</p>
        {% endblock %}
      </div>
    </div>
    <script>
      function readTextFile(file, callback) {
        var rawFile = new XMLHttpRequest();
        rawFile.overrideMimeType("application/json");
        rawFile.open("GET", file, true);
        rawFile.onreadystatechange = function() {
            if (rawFile.readyState === 4 && rawFile.status == "200") {
                callback(rawFile.responseText);
            }
        }
        rawFile.send(null);
      }

      //usage:
      readTextFile("/version.json", function(text){
          var data = JSON.parse(text);
          console.log(data);
          console.log(data['website_version'])
          var version = data['website_version']
          const d = new Date();
          let year = d.getFullYear();
          document.getElementById("version").innerHTML = "<strong>Version</strong>: "+version+" © "+year;
      });
    </script>
    {% endblock %}