{% extends "page.html" %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Privacy'), controller='ckanext.wwo.controllers.privacy:PrivacyController', action='privacy' %}</li>
{% endblock %}

{% block subtitle %}{{ _('Privacy') }}{% endblock %}

{% block primary %}
<article class="module">
  <div class="module-content">

<h2>Privacy</h2>

<p>The following provides details about Manaaki Whenua's Privacy Statement in the context of the Whitiwhiti Ora website. Landcare Research New Zealand Limited has a legal obligation to comply with the Privacy Act 2020. This Privacy Statement sets out how we will collect, use, disclose and protect your personal information. Personal information is information about an identifiable individual (a natural person).</p>

<h4>Changes to this Statement</h4>

<p>We may change this Privacy Statement by uploading a revised Privacy Statement onto the website. The change will apply from the date that we upload the revised policy. We suggest you check this Privacy Statement on a regular basis.</p>

<h4>Collection</h4>

<p>We collect personal information about you from:</p>

<ul>
<li>you, when you provide that personal information to us, including via accessing this website and any related service, through any registration or subscription process, through any contact or interaction with us (e.g. telephone call or email), or when you buy or use our services and products</li>
<li>third parties where you have authorised this or the information is publicly available.</li>
</ul>

<p>If possible, we will collect personal information from you directly.</p>

<h4>Data Minimisation</h4>

<p>We will only collect personal information where we have a lawful purpose to do so related to any of our activities or functions and where the collection of the information is necessary for that purpose.</p>

<p>How we use your personal information</p>

<p>You agree that we may use your personal information for any of the following purposes:</p>
<ul>
<li>to verify your identity</li>
<li>to verify the accuracy of any information, you have provided</li>
<li>to provide services and products to you,</li>
<li>to withdraw or manage your access to any services or products we provide or any website, information, communication, or security systems we manage</li>
<li>to market our services and products and research opportunities to you, including contacting you electronically (e.g. by text or email for this purpose)</li>
<li>to improve the services and products that we provide to you including to personalise and improve your user experience and to help improve our website, information, communication, or security systems</li>
<li>to bill you and to collect money that you owe us or to make any payment to you.</li>
<li>to respond to communications from you,</li>
<li>to maintain the safety and security of our people, systems, websites, and physical sites.</li>
<li>to be able to comply with any audit, legal, statutory, or regulatory obligations</li>
<li>to collect user statistics</li>
<li>in exercise of our usual public or administrative functions.</li>
<li>to investigate any complaint query or allegation or any potential breach of our terms and conditions.</li>
<li>to protect and/or enforce our legal rights and interests, including defending any claim.</li>
</ul>

<p>You also acknowledge that Manaaki Whenua may also use your personal information for any other purpose where we obtain your consent not listed above; for any other use or purpose that would be compatible with the purpose of the original collection of the information; for any use or purpose for which Manaaki Whenua can establish a legitimate interest; and for any other purpose permitted under the Privacy Act 2020 or any other applicable legislation.</p>

<h4>Disclosing your personal information</h4>

<p>You agree that Manaaki Whenua may in appropriate circumstances disclose your personal information as follows:</p>

<ul>
<li>to any employee, or contractor or third party, but only to the extent that the disclosure is required as part of our normal administrative or business processes, or where the disclosure is necessary to process your information for any of the agreed purposes for which it was collected or supplied, or any purpose for which we have a legitimate interest.</li>
<li>to any professional adviser where they have been engaged to provide advisory services in relation any matter where access to your personal information is necessary for them to satisfactorily provide their services.</li>
<li>to any 3rd party suppliers who monitor, maintain or audit any of our systems to the extent it is strictly necessary and proportionate for the purposes of maintaining or ensuring the continued security of any of our systems</li>
<li>where it is necessary for the purpose of defending or prosecuting any legal claim</li>
<li>to any person where we are authorised or required to make a disclosure or transfer your information under any legislation or regulation</li>
<li>to the Police, any other investigatory authority or any 3rd Party (where the 3rd Party have been engaged to assist the Police or an investigating authority) to assess, prevent, resolve or investigate any potentially, attempted or threatened unlawful, malicious or suspicious activity</li>
<li>where due to our audit obligations we are required to provide the information to the auditing organisation</li>
<li>subject to any obligation of Confidence that we can uphold, to any party against who you have made any complaint or made any allegation where we are required to provide the information you have supplied as part of our obligations to a fair investigation</li>
<li>to a Parliamentary Select Committee or in response to any Parliamentary Question as part of reporting to our shareholding ministers.</li>
<li>to an agency who has funded a project or an external collaborator on a project where the information you have provided relates to or has been supplied for a purpose related to that project</li>
<li>to any other person or category of persons authorised by you.</li>
</ul>

<p>You agree that in accordance with this Privacy Statement we may disclose your information to 3rd party suppliers, agencies or external project collaborators some of whom may be located outside New Zealand.</p>

<p>Protecting your personal information</p>

<p>Manaaki Whenua will take reasonable steps to keep your personal information safe from loss, unauthorised activity, or other misuse.</p>

<p>Manaaki Whenua agrees that it will not sell or your personal information without your consent.</p>

<p>Where your personal information may be transferred or be accessible to person who is located outside New Zealand we will require those parties to comply with the New Zealand Privacy Act 2020, or be subject to equivalent obligations either under their own privacy legislation or as part of our contractual agreements.</p>

<h4>Internet use</h4>

<p>While we take reasonable steps to maintain secure internet connections, if you provide us with personal information over the internet, until the information is held on our system the provision of that information is at your own risk.</p>

<p>If you follow a link on our website to another site, the owner of that site will have its own privacy policy relating to your personal information. Please be aware that Manaaki Whenua is not responsible for the content or privacy practices of these web sites. We suggest that you review the privacy policy of each site you visit particularly before you provide personal information.</p>

<p>Manaaki Whenua also uses interfaces with social media sites such as Facebook, LinkedIn, Twitter You tube and others. If you choose to “like” or “share” information from this website through these services, you should review the privacy policy of that service. If you are a member of a social media site, the interfaces may allow the social media site to connect your visits to this site with other Personal Information. These social media services have their own privacy policies and may track your use of our website on those pages where their links are displayed. They do this by the use of persistent session cookies. If you are logged in to those services (including any Google service) while using our site, their tracking will be associated with your profile with them</p>

<p>If you post your personal information to a message board/ chat room, our Facebook Page or on our Twitter Account or any other Social Media Platform on which we have a presence you acknowledge and agree that the information you post is publicly available.</p>

<p>Website information</p>

<p>Manaaki Whenua may also automatically track and collect the following information when you visit a Manaaki Whenua website:</p>

<ul>
<li>your IP addresses.</li>
<li>the web pages on the site that you view or visit.
<li>any Search terms you used</li>
<li>links you clicked on</li>
<li>date and time of that you visited</li>
<li>the Device you used to access the site</li>
<li>the referring site and</li>
<li>any products or services we provide to you.</li>
<li>any active consent that you have provided.</li>
</ul>

<p>While this is statistical data about our users’ browsing actions and patterns, and does not necessarily identify any individual, Manaaki Whenua may, however, use such information in conjunction with the data held about you in order to track your usage of our services.</p>

<h4>Cookies</h4>

<p>Manaaki Whenua may enable 'cookies' on their website to improve your browsing experience. A cookie is a piece of data that our server sends to your browser. Your browser may then store the cookie on your computer and send it back to our server if you visit our site again. These cookies allow us to create a more personalised experience for you while visiting the website. Cookies are an industry standard and most major web sites use them. They are widely used to help users navigate websites efficiently, to perform certain functions on the sites, and/or to provide site owners with information about how their sites are used. We use cookies on our site where they are required for particular features to work – for example, if you are a logged in user, to allow you to remain logged in whilst you complete certain tasks.</p>

<p>Please note that third-party affiliates may also use cookies, over which Manaaki Whenua has no control.</p>

<p>You may block cookies by activating the setting on your browser that allows you to refuse the setting of all or some cookies. However, if you use your browser settings to block all cookies (including essential cookies) this may affect the quality of your experience in using our website. Unless you have adjusted your browser setting so that it will refuse cookies, our system may issue cookies as soon as you visit our Website.</p>

<p>The Manaaki Whenua – Landcare Research websites may use Google Analytics (and other similar tools), a service which transmits website traffic data to Google servers in the United States. Google Analytics does not identify individual users or associate your IP address with any other data held by Google. We use reports provided by Google Analytics to help us understand website traffic and webpage usage.</p>

<p>By using any Manaaki Whenua – Landcare Research website, you consent to the processing of data about you by Google in the manner described in Google’s Privacy Policy and, for the purposes set out above. You can opt out of Google Analytics if you disable or refuse the cookie, disable JavaScript, or use the opt-out service provided by Google.</p>

<h4>Security</h4>

<p>Manaaki Whenua have strict information security policies and procedures in place to protect personal information held by us from misuse, loss or unauthorised access, modification, or disclosure. Our websites and our IT systems have specific security measures in place to prevent the loss misuse and alteration of information we hold. We draw to your attention that due to the need to maintain the cyber security of our systems and information Manaaki Whenua systems may be subject to on-going monitoring (including activity logging analysis and auditing). We may use information about your use of our websites, telephone, or IT systems to prevent unauthorised access or attacks on these systems, to resolve such events. We may use this information even if you are not directly involved in the event. Manaaki Whenua may utilise services from one or more third party suppliers to monitor or maintain the cyber security of its systems and information. Such third-party suppliers may have access to monitoring and logging information processed on our systems. Some third-party suppliers may not necessarily be located in New Zealand so may not be subject to the New Zealand Privacy Act 2020.</p>

<p>As a research facility we have certain security requirements. The Manaaki Whenua’s security system may track your entry or exit to any of our websites, systems, or any building, facility, or room at any of our physical sites. Person locator beacon location data may also be captured by ourselves or a monitoring third party in the case of an emergency.</p>

<p>Retention</p>

<p>Subject to our legal obligations to retain certain records we will hold your personal information for no longer than necessary to achieve the purpose for which it was obtained. If your personal information is contained in a public record, then it will be retained and disposed on in accordance with our record retention and disposal policy.</p>

<p>Data breach reporting</p>

<p>We also have procedures in place to deal with any suspected data security breach. Manaaki Whenua will notify you and any applicable regulator of a suspected data security breach when legally required to do so. If you become aware of any potential privacy or data security breach, please contact our Privacy Officer at the contact details below. Manaaki Whenua may also notify any relevant investigative authority.</p>

<h4>Accessing, confirming and correcting your personal information</h4>

<p>Subject to certain grounds for refusal set out in the Act, you have the right to have Manaaki Whenua confirm if we hold any of your personal information, the right to access your personal information that we hold, and the right to request a correction to your personal information. If you were located in the European Union at the time the information was collected then unless Manaaki Whenua has a legal reason to retain the information, you have the right to have any personal information we hold about you erased or to request the personal information is transferred to yourself or a third party in a suitable format.

<p>In respect of a request for correction, if we think the correction is reasonable and we are reasonably able to change the personal information, we will make the correction. If we do not make the correction, we will take reasonable steps to note on the personal information that you requested the correction.</p>

<p>Before you exercise these rights of accessing, correcting or erasing your personal information, we will need evidence to confirm that you are the individual to whom the personal information relates.</p>

<p>If you want to exercise any of the above rights, or to withdraw or amend any consent you can contact our Privacy Officer at the address provided below. Your email should provide evidence of who you are and set out the details of your request (e.g. the personal information, or the correction, that you are requesting).</p>

<h4>Contact</h4>

<p>If you have any queries regarding this Privacy Statement or wish to raise a complaint of an alleged breach of the Privacy Act to our Privacy Officer. Their contact details are as follows:</p>

<p>Privacy Officer – Kylie Hansen<br>
Landcare Research New Zealand Limited<br>
P.O. Box 40<br>
Lincoln 7640<br>
New Zealand<br>
Email: <a href="mailto:privacy@landcareresearch.co.nz">privacy@landcareresearch.co.nz</a>
</p>

<footer> </footer>
<hr>
<p>Last updated <i>on 08 July 2022.</i></p>

  </div>
</article>
{% endblock %}

{% block secondary %}{% endblock %}
