
/* Makes the right col 100% */
.col-sm-9 {
  width: 100%;
}

/* Removes the line between columns */
.col-sm-3 {
  width: 0%;
}
.wrapper:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    border-right: 1px solid #ddd;
    z-index: 1;
}