.hero { background-image: url("/land-use.jpg");
        background-repeat: no-repeat;
        background-size:cover }

/* Set the default colors */
/* The text and icons in the user account info. */
.account-masthead .account ul li a {
  color: black;
}

[role=main] {
  background-color: #f7fbfb;
}

/* ====================== */

.masthead .site-search input {
  padding: 4px 10px;
  width: 175px;
}

.form-horizontal .help-block {
  margin-left: 130px;
  margin-bottom: 1em;
  margin-top: -15px;
  padding-top: 0;
}
@media (max-width: 767px) {
  .form-horizontal .help-block {
    margin-left: 180px;
  }
}
@media (max-width: 480px) {
  .form-horizontal .help-block {
    margin-left: 0;
  }
}

/* wwo repeating */

.control-repeating .checkbox.btn {
  display: inline-block;
  position: relative;
  top: 0;
  left: 5px;
  height: 1px;
  width: 10px;
  padding: 3px 8px;

  -webkit-border-radius: 15px;
          border-radius: 15px;
  line-height: 21px;
}

.control-repeating .checkbox.btn input {
  display: none;
  width: auto;
}

@media (max-width: 767px) {
  .form-horizontal .control-repeating:first-child .controls input {
    width: 87%;
  }
}

.page-header {
  background-color : white
}

/* Style Main content */

.homepage .box {
  background-color: #ffffffde;
}


.homepage .module-content {
  padding: 5px;
}

/* Style the search box */
.homepage .module-search .module-content {
    background-color: rgb(230,231,232);
    color: black;
    padding: 0px;
}

.homepage .module-shallow .module-content {
  padding: 5px;
}

.homepage .search {
    color: black
}

.homepage .search-form {
  margin-bottom: 0px;
}

.homepage .module-search .tags {
   background-color: rgb(178,29,40);
}

.homepage .search .icon-search {
   color : black;
  background-color: black;
}

/* List Box */
.homepage .dataset-heading a {
  color : white;
}
.homepage .empty {
  color : white;
}

.homepage .site-footer {
  height: 100px;
}

/* Collapsible Facets */
.collapsible {
  cursor     : pointer;
  width      : 100%;
  border     : none;
  text-align : left;
  outline    : none;
}
.collapsible_content {
  padding  : 0 18px;
  display  : none;
  overflow : hidden;
}

button.accordion:after {
  content: '\f0da';
  float: right;
  font-family: "fontawesome";
  font-size: 14px;
}

button.accordion.is-open:after {
  content: '\f0d7';
  float: right;
  font-family: "fontawesome";
  font-size: 14px;
}

button.accordion:hover, button.accordion.is-open {
  background-color: #ddd;
}


/* == Manage Tag Colors == */
.label[data-format=gdb], .label[data-format*=gdb] {
    background-color: #FCAF23;
}

.label[data-format=csv], .label[data-format*=csv] {
    background-color: #DFB100;
}

.label[data-format=gkpg], .label[data-format*=gkpg] {
    background-color: #D6C396;
}

.label[data-format=gpkg], .label[data-format*=gpkg] {
    background-color: #D6C396;
}

.label[data-format=tif], .label[data-format*=tif] {
    background-color: #EC5E1F;
}

.label[data-format=pdf], .label[data-format*=pdf] {
    background-color: #e0051e;
}

.label[data-format=shp], .label[data-format*=shp] {
    background-color: #0080FF;
}

.label[data-format=xls], .label[data-format*=xls] {
    background-color: #2DB55D;
}

.label[data-format=sql], .label[data-format*=sql] {
    background-color: #389CDA;
}

.label[data-format=doc], .label[data-format*=doc] {
    background-color: #185ABD;
}

.label[data-format=png], .label[data-format*=png] {
    background-color: #B73672;
}

.label[data-format=jpeg], .label[data-format*=jpeg] {
    background-color: #B73672;
}

.label[data-format=bmp], .label[data-format*=bmp] {
    background-color: #B73672;
}

.label[data-format=gif], .label[data-format*=gif] {
    background-color: #B73672;
}

.label[data-format=txt], .label[data-format*=txt] {
    background-color: #70c5e4;
}

.label[data-format=svg], .label[data-format*=svg] {
    background-color: #F7AB39;
}




/* == ================= == */