.privacy_popup {

  border: 3px solid #000000;
  margin: 0;
  padding: 10px;
  border-radius: 4px;


  /* We want the license and numbers to appear side by side, so float the
   * numbers list to the left and make it take up just over half of
   * the width of the popover. */
  float: center;
  width: 600px;
  height: 350px;
  max-width: 600px;

  background-color: whitesmoke;

  position:fixed;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index:10;
  display : none;


  /* Prevent the words in the license from being wrapped mid-word. */
  word-break: keep-all;
}

.privacy_button {
  border: 1px solid black;
  padding: 2px;
  width: 100px;
  border-radius: 4px;
  padding: 6px 12px;
}

label:after {
    content: "";
}

