{% set tags = h.get_facet_items_dict('tags', limit=3) %}

{#
Set placeholder text for the home page search form here by uncommenting the
line below and setting a value for `placeholder`.
#}
{#{% set placeholder = _('') %}#}

  <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
    <b>{{ _("Search Datasets") }}</b>
    <div class="search-input control-group search">
      <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{{ placeholder }}" />
      <button type="submit">
        <i class="icon-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
  </form>
